#intro {
    position: relative;
    display: flex;
    justify-content: center;
}

#intro img {
    position: relative;
    width: 1296px;
}

#intro_cont {
    position: absolute;
    top: 45vh;
    z-index: 1;
}

#intro_cont h1 {
    font-size: 35pt;
    font-weight: bold;
    color: white;
}
#intro_cont h3 {
    font-size: 20pt;
    font-weight: lighter;
    color: white;
    display: flex;
    justify-content: center;
}

#intro_cont a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

#intro_cont button {
    border-radius: 10px;
    width: 200px;
}

#view_recipe {
}

#recipe_box {
    border: 2px solid black;
}

#view_recipe img {
    width: 30% !important;
    height: auto !important;
}
