<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head">
</head>
<body>
    <div th:replace="fragments :: header">
    </div>
    <div class="container my-4" style="justify-content: center; align-items: center; width: 40%;">
        <form method="POST" th:action="@{/addRecipe}" th:object="${recipe}" class="form-signup" enctype="multipart/form-data">
            <div class="bg-light p-5" style="border-radius: 5%;">

                <h2 class="text-center"><b>ADD RECIPE</b></h2>

                <label class="form-label pt-3" for="name">Recipe Name</label>
                <input id="name" name="name" type="text" class="form-control mb-3" th:field="*{name}" placeholder="Recipe Name" />

                <label class="form-label pt-3" for="description">Description</label>
                <textarea id="description" name="description" type="text" class="form-control mb-3" th:field="*{description}" placeholder="Description"></textarea>

                <label class="form-label pt-3" for="instruction">Instruction</label>
                <textarea id="instruction" name="instruction" type="text" class="form-control mb-3" th:field="*{instruction}" placeholder="Instruction"></textarea>

                <ol>
                    <li th:each="ingredient, i : *{ingredients}" style="list-style-type: decimal-leading-zero;">
                        <div style="display: flex;">
                            <input type="text" class="form-control mb-3" th:field="*{ingredients[__${i.index}__].name}" th:value="*{ingredients[__${i.index}__].name}" placeholder="ex) Onion"></input>
                            <input type="text" class="form-control mb-3" th:field="*{ingredients[__${i.index}__].amount}" th:value="*{ingredients[__${i.index}__].name}" placeholder="ex) 300g"></input>
                        </div>
                    </li>
                </ol>
                <input type="submit" name="addbox" value="Add Ingredient Box" />

                <input id="image" type="file" name="image" accept="image/*">

                <div class="d-grid col-8 mx-auto">
                    <input type="submit" name="submit" value="Create Recipe" />
                </div>
            </div>
        </form>
    </div>
</body>
</html>