<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: html_head">
</head>
<body>
    <div th:replace="fragments :: header">
    </div>
    <div align="center">
      <h1>Home page</h1>

      <div sec:authorize="isAuthenticated()">
        <h1>Welcome</h1>
      </div>

      <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
      </form>

      <div sec:authorize="hasAnyAuthority('USER')">
        <a href="/addRecipe">Add Recipe</a>
      </div>
    </div>
</body>
</html>