<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: html_head">
</head>
<body>
    <div th:replace="fragments :: header">
    </div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>

    <div sec:authorize="hasAnyAuthority('USER')">
        <a href="/addRecipe">Add Recipe</a>
    </div>
    <div class="container">
        <tr th:each="recipe : ${recipes}">
            <td><img th:src="${'data:image/*;charset=utf-8;base64,' + recipe.imageFile}" width="300" height="300"></td>
        </tr>
    </div>

</body>
</html>