<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: html_head">
</head>
<body>
    <div th:replace="fragments :: header">
    </div>
    <!--<form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>-->
    <div class="container">
        <div id="view_recipe">
            <div th:each="recipe : ${recipes}">
                <img th:src="${'data:image/*;charset=utf-8;base64,' + recipe.imageFile}">
            </div>
        </div>
    </div>

</body>
</html>