<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: html_head">
</head>
<body>
    <div th:replace="fragments :: header">
    </div>
    <div class="container">
        <div class="container mx-auto" style="width: 700px; margin: 5rem 0 6rem 0;">
            <form method="POST">
                <div class="pb-4">
                    <h2 class="text-center"><b>Shopping List for Recipe</b></h2>
                </div>
                <div class="bg-light border border-2" style="padding: 3rem 3rem 2rem 3rem;">
                    <div class="row justify-content-center" th:each="ingredient : ${shopping.ingredients}">
                        <div class="row" style="height: 50px; display: flex; align-items: center; text-align: center;">
                            <div class="col">
                                <div th:text="*{ingredient.name}"></div>
                            </div>
                            <div class="col">
                                <div th:text="*{ingredient.amount}"></div>
                            </div>
                            <div class="col">
                                <a th:href="*{'/viewMyShoppingLists/' + shopping.id + '/deleteIngredient/' + ingredient.id}" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                        <div class="row">
                            <hr>
                        </div>
                    </div>
                    <a th:href="${'/viewMyShoppingLists/' + shopping.id + '/export'}" class="btn btn-success">Export CSV</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
