<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: html_head">
</head>
<body>
    <div th:replace="fragments :: header">
    </div>

    <div class="container my-4" style="justify-content: center; align-items: center; width: 40%;">
        <div th:object="${user}" class="bg-light p-5" style="border-radius: 5%;">
            <h2 class="text-center"><b>PROFILE</b></h2>
            <div style="display: flex; justify-content: center;">
                <table>
                    <tr>
                        <td class="view_prof_col1">Username :</td>
                        <td><div th:text="${user.username}"></div></td>
                    </tr>
                    <tr>
                        <td  class="view_prof_col1">First name :</td>
                        <td><div th:text="${user.firstName}"></div></td>
                    </tr>
                    <tr>
                        <td  class="view_prof_col1">Last name :</td>
                        <td><div th:text="${user.lastName}"></div></td>
                    </tr>
                    <tr>
                        <td  class="view_prof_col1">Email :</td>
                        <td><div th:text="${user.email}"></div></td>
                    </tr>
                    <tr>
                        <td class="view_prof_col1">Address :</td>
                        <td><div th:text="${user.address}"></div></td>
                    </tr>
                    <tr>
                        <td class="view_prof_col1">Date of Birth :</td>
                        <td><div th:text="${user.birthday}"></div></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
